/* Great way to deal with border-box issue */

*, *:before, *:after
{
  box-sizing: border-box;
}

html
{
  font-size: 62.5%; /* 1REM = 10px */
}

body
{
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  background-color: $abbey;
  margin: 0px;
  padding: 0px;
}

/* parent container for content */
.main-content
{
  max-width: 1440px;
  width:100%;
  margin: 0px auto;
  padding: 2rem;
  background-color:$white;
}

h1, h2, h3
{
  /*font-family: 'Niconne', cursive;*/
  font-family: 'Raleway', sans-serif;
}

h1 { font-size: 6rem; }
h2 { font-size: 4rem; }
h3
{
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* easy way to make all your images responsive */
img
{
  max-width: 100%;
  height: auto;
}

/* links */
a
{
  font-weight: bold;
  text-decoration: none;
  color: $blue;
}

