/* ============== Mobile First Media Queries ====== */
/* Extra Small Devices, Phones */
@define-mixin atSmall {
  @media (max-width: 600px) {
    @mixin-content;
  }
}

/* Small Devices, Tablets */
/* triggers desktops if screenwidth is above 772px */
@define-mixin atMedium {
  @media (max-width: 772px) {
    @mixin-content;
  }
}

@define-mixin atTablet
{
  @media (max-width: 998px) {
    @mixin-content;
  }
}

@define-mixin atDesktop
{
  @media (max-width: 1152px) {
    @mixin-content;
  }
}

/* Large Devices, Wide Screens */
/* triggers desktop UP to 1440px, anything beyond stays static */
@define-mixin atXL {
  @media (max-width: 1366px) {
    @mixin-content;
  }
}

/* clearing floats yo! */
@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
