/* ============== Mobile First Media Queries ====== */
/* Extra Small Devices, Phones */
@define-mixin atSmall {
  @media (min-width: 480px) {
    @mixin-content;
  }
}

/* Small Devices, Tablets */
/* triggers desktops if screenwidth is above 772px */
@define-mixin atMedium {
  @media (min-width: 772px) {
    @mixin-content;
  }
}

/* Medium Devices, Desktops */
/*@define-mixin atLarge {
  @media (min-width: 992px) {
    @mixin-content;
  }
}*/

/* Large Devices, Wide Screens */
/* triggers desktop UP to 1440px, anything beyond stays static */
@define-mixin atXLarge {
  @media (min-width: 1440px) {
    @mixin-content;
  }
}

/* ============== /Mobile First Media Queries ====== */

/* clearing floats yo! */
@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
