/* ============== Mobile First Media Queries ====== */

/* Extra Small Devices, Phones */
@define-mixin atSmall {
  @media (min-width: 480px) {
    @mixin-content;
  }
}

/* Small Devices, Tablets */
@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

/* Medium Devices, Desktops */
@define-mixin atLarge {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

/* Large Devices, Wide Screens */
@define-mixin atXLarge {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

/* ============== /Mobile First Media Queries ====== */

/* clearing floats yo! */
@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
