/* domsters style color guide */
$black: #232323;
$abbey: #464748;
$silver: #cccccc;
$cod-gray: #151515;
$pomegranite: #EF4A23;
$tango: #f47e20;
$amaranth: #ee2954;

/* reference colors::: */;
$red: #ff0000;
$blue: #2f5572;
$white: #eee;
$yellow: #ff9900;

