
.icon-drums:before { content: '\e800'; } /* '' */
.icon-guitar:before { content: '\e801'; } /* '' */
.icon-resize-full:before { content: '\e802'; } /* '' */
.icon-resize-small:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-ccw:before { content: '\e808'; } /* '' */
.icon-cw:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-stop:before { content: '\e80c'; } /* '' */
.icon-pause:before { content: '\e80d'; } /* '' */
.icon-to-end:before { content: '\e80e'; } /* '' */
.icon-to-end-alt:before { content: '\e80f'; } /* '' */
.icon-to-start:before { content: '\e810'; } /* '' */
.icon-to-start-alt:before { content: '\e811'; } /* '' */
.icon-fast-fw:before { content: '\e812'; } /* '' */
.icon-fast-bw:before { content: '\e813'; } /* '' */
.icon-note-beamed:before { content: '\e814'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */