.About
{
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  margin: 0px auto;
  padding-top: 6rem;

  background-image:url("../../assets/images/icons/backdrop_guitar.svg");
  background-size:contain; /* width + height */
  background-repeat: no-repeat;
  background-position: right;

  @mixin atMedium
  {
    height: auto;
    padding-bottom: 6rem;
  }


  &__info
  {
    /*position: relative;*/
    width:100%;

    @mixin atMedium
    {
      padding-bottom: 6rem;
    }
  }

  &__info-tab
  {
    float:left;
  }

  &__info-tab a
  {
    font-size: 4rem;
    color:$Dark-gray;
    display: block;
    padding-bottom: 1rem;
    position: relative;
    left: 0px;
    transition: color, left ease-out 350ms;
  }

  &__info-tab a:hover
  {
    color: $Tango;
    left: 1rem;
    transition: color, left ease-out 350ms;
  }

  &__info-tab a.flagged
  {
    color: $Orange;
  }

  /* container for About_desc */
  &__info-desc
  {

    position: relative;
    float:left;
    width:50%;

    @mixin atMedium
    {
      padding-right: 0px;
      padding-left: 20px;
      padding-bottom: 30px;
      width:85%;
    }
  }

  &__desc
  {
    padding-right: 2rem;
     /* border:2px dashed blue; */
  }

  &__desc h3
  {
    padding-top:2rem;
  }

  &__desc p
  {
    font-size:1.6rem;
  }

  &__live
  {
    position: relative;
    width:50%;

    @mixin atMedium
    {
      width: 90%;
      margin-left:2rem;
      margin-right:2rem;
    }
  }

  &__live-table
  {
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: left;
    color: $Dark-gray;
  }

  &__live-table tr
  {
    height: 5rem;
   /* position: relative;*/
    border-left: 4px solid $Dark-blue;
    transition: color ease-out 350ms;
  }

  &__live-table tr:nth-child(odd)
  {
    background-color: $Shade-blue;
  }

  &__live-table tr:nth-child(even)
  {
    background-color: $Tint-blue;
  }

  &__live-table tr.tr-active:hover
  {
    color: $White;
    border-left: 4px solid $Tango;
    transition: color ease-out 350ms;
  }

  &__live-table th
  {
    color: $off-White;
    text-transform: uppercase;
    padding:0px 1.5rem;
    background-color: $Orange;
    /*position: relative;*/
  }


  &__live-table td
  {
    padding:0 1.5rem;
  }
}

