/* parent */
.masthead
{
  min-height:100px;

  &__headline {
    margin:0 auto;
 /*   border: 2px dashed green;*/
  }

  &__logo
  {
    position:relative;
    width:80%;
    margin:0 auto;

    @mixin atSmall
    {

    }
  }

  &__image
  {
    position:relative;
    margin:0 auto;
    z-index:100;
    float:left;
    margin-top:-8%;
  }

  &__notes
  {
    width:100%;
    margin:20% 0;
  }

  &__notes-line
  {
    list-style-type: none;
    margin:5% 0;
    border-top:1px solid $black;
  }

}

