
nav {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  background-color: $Dark-blue;
  margin: 0px auto;
}

nav a {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 22px;
  color: $Dark-gray;
  text-transform: capitalize;
  text-align: center;
  padding: 30px 20px;
  display: inline-block;
}

nav a.active {
  color: $off-White;
}

nav a.active::before {
  content: ' ';
  height: 8px;
  width:8px;
  background-color: $Tango;
  position: absolute;
  left:50%;
  bottom: 12px;
}
