.Photos
{
  width: 100%;
  height: 600px;
  position: relative;
  display: block;
  margin: 0px auto;
  background-color: $Light-gray;
  background-image: url('../../bg/stage-bg.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;

  @mixin atXL
  {
    height: 600;
    background-size: cover;
    background-position: top right;
    padding-top: 60px;
  }

  @mixin atDesktop
  {
    height: 500;
    background-size: cover;
    background-position: top right;
    padding-top: 60px;
  }

  @mixin atTablet
  {
    height: auto;
    background-size: cover;
    background-position: top right;
    padding-top: 60px;
  }

  @mixin atMedium
  {
    height: auto;
    background-size: cover;
    background-position: top right;
    padding-top: 60px;
  }

}
