.btn {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  margin-top: 0.75rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.7rem;

  &--red {
    background-color: $red;
  }

  &--large {
    font-size: 2rem;
    padding: 1.1rem 1.9rem;
  }
}

