.contact-title {
  border: 2px solid red;

}


/* parent container */
footer {
  border: 1px dashed red;
  background-color: $silver;
  height: 500px;
}

/* child container */

input[type=text] {
  display: inline-block;
}


.contact {
  border: 2px dashed green;
  position:relative;
  margin: 0px;
  width: 720px;
  height: 450px;

  /*&__header
  {
    font-size:4rem;
    border: 2px dashed green;
    

  }*/

  &__body
  {
    background-color: $white;
      border: 2px dashed black;
      position:right;
      width: 100%;


  }

  &__form
  {
    width:100%;

  }

  &__formInput
  {
    background-color:$white;
    width:100%;

  }

  &__formInput_header
  {
    font-weight: 700;
  }

  &__formInput-textInput
  {
    width:40%;
    margin-right: 60px;
    float: left;
    

    
  }

  &__formInput-textarea
  {
    width:100%;

  }

  
}


/* activate for borders */

.social-media {
 border: 2px dashed red;
}

.contact-form {
  border: 2px dashed black;
  margin: -250px 720px;
  height: 450px;
  width: 675px;

}

.bottom {
     margin: 255px auto;
     width: 1400px;
     background-color: $black;
     text-align: center;
  
     color:$white;
     font-weight:700;
     letter-spacing: 0.2rem;
  




}






