/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
} */


/* body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #707070;
    background-color: #333;
} */

.gallery {
    &__about {
        border: 2px dashed $black;
    }
    &__about_text {
        letter-spacing: 0.1rem;
    }
    &__header {
        font-weight: 700;
    }
    &__imagecontainer {
        margin: 0 auto;
        max-width: 700px;
        max-height: 100vh;
        background-color: white;
    }

    /* Useful Classes */
    &__xy-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__transition {
        transition: all 350ms ease-in-out;
    }
    &__r-3-2 {
        width: 100%;
        padding-bottom: 66.667%;
        background-color: #ddd;
    }
    &__image-holder {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Main Styles */
    &__gallery-wrapper {
        position: relative;
        overflow: hidden;
    }

    &__gallery {
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

    &__item-wrapper {
        cursor: pointer;
        width: 23%;
        /* arbitrary value */
        display: inline-block;
        background-color: white;
    }
    &__gallery-item {
        opacity: 0.5;
    }
    &__gallery-item.active {
        opacity: 1;
    }
    &__controls {
        font-size: 0;
        border-top: none;
    }
    &__move-btn {
        display: inline-block;
        width: 50%;
        border: none;
        color: #ccc;
        background-color: transparent;
        padding: 0.2em 1.5em;
    }
    &__move-btn:first-child {
        border-right: none;
    }
    &__move-btn.left {
        cursor: w-resize;
    }
    &__move-btn.right {
        cursor: e-resize;
    }
}